:root {
    --background-color:#7c7c7c;
    --text-color:beige;
}



* {
    Box-sizing:border-box;
    padding:0;
    margin:0;
    text-align:center;
}

body {
    background-color:var(--background-color)
}

.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(31, 53, 31);
    color: var(--text-color);
    display:flex;
    justify-content: space-between;
    
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left:7px;
}

.header h1 .name {
    color: var(--text-color);
}

.header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header div ul {
    list-style-type: none;
}


.header div ul li {
    color:var(--text-color);
    display: inline-block;
    margin-left: 25px;
}

.header div ul li :hover{
    text-decoration:underline;

}


a {
    color: var(--text-color);
    text-decoration: none;
}

.top-pic {
    height: 450px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../Images/IMG_2443.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    border-bottom-left-radius:14px;
    border-bottom-right-radius: 14px;
}

.content {
    display:flex;
}

.About-me{
    margin-bottom: 10px;
    padding: 10px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
    color: black;
}

.About-me h2{
    Font-size:50px;
    position:relative;
    color:var(--text-color);
    text-decoration:underline;
    text-decoration-color:var(--text-color);
}

.About-me p {
    text-align:center;
    font-size:20px;
    margin-top:20px;
    display:flex;
    justify-content: center;
}

 .content2 {
    display:flex;
} 

.work {
    margin-bottom: 10px;
    padding: 10px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:var(--background-color);
}

.work h2{
    Font-size:45px;
    color:var(--text-color);
    text-decoration:underline;
    text-decoration-color:var(--text-color);
}

 .work ul{
    display: flex;
    justify-content:center;
    list-style: none;
    flex-wrap: wrap;

} 

.firstproject {
}

.firstproject img{
    height:300px;
    width:275px;
    border-radius:10px;
    transition:1s ease;
}

.firstproject img:hover{
    -webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}

.firstprojecttext {
    position: relative;
    font-size:28px;
    top:56px;
}

.secondproject{
    margin: 59px
}

.secondproject img{
    height:200px;
    width:175px;
    border-radius:10px;
    transition:1s ease;
}

.secondproject img:hover{ 
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.5);
transition: 1s ease;
}
    
.secondprojecttext {
    position: relative;
    font-size:22px;
    top:37px;
}

.thirdproject{
    margin: 59px
}

.thirdproject img{
    height:200px;
    width:175px;
    border-radius:10px;
    transition:1s ease;
}

.thirdproject img:hover{ 
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.5);
transition: 1s ease;
}
    
.thirdprojecttext {
    position: relative;
    font-size:22px;
    top:37px;
}
 
 


.contact-me {
    margin: 115px;
    /* height: 300px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
}

.contact-me h3{
    Font-size:40px;
    color:maroon;
    text-decoration:underline;
    text-decoration-color:maroon;
}

.contact-me ul{
    display:flex;
    justify-content: space-evenly;
}

.contact-me li{
    font-size:25px;
    display:inline;
}

.contact-me li :hover{
    text-decoration: underline;
}


@media only screen and (max-width:1000px){
   .header{ flex-direction:column;}
}

@media only screen and (min-width:1000px){
    .content{ flex-direction:column;}
 }


 @media only screen and (min-width:1000px){
    .content2{ flex-direction:column;}
 }

 @media only screen and (min-width:1000px){
    .contact-me{ flex-direction:column;}
 }
